MONGODB_URI=mongodb+srv://userauth:5362@cluster0.pkll8.mongodb.net/Ecotour-dz
PORT=5000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=aya04che@gmail.com
SMTP_PASS=cwlpqwooxsmlxzxv
SMTP_FROM=aya04che@gmail.com
APP_BASE_URL=http://localhost:3000
